@font-face {
  font-family: maple;
  src: url("./MapleMono-NF-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;
  line-height: 2;

  background-color: black;
  font-family: maple;
  color: white;
}
