---
import Layout from '@/layouts/layout.astro';
---

<Layout>
	<main>
		<p>hello world</p>
		<p>i&rsquo;m a student developer attending uw-madison</p>
		<br />
		<p>
			notice (2025): looking for passionate developers located in madison
			wisconsin for a co-operative web-development studio
		</p>
		<p>frontend, backend, & design</p>
		<p>find my info to contact me</p>
	</main>
</Layout>
