---
import Layout from '@/layouts/layout.astro';
---

<Layout>
	<p>hello world</p>
	<p>i&rsquo;m a student developer attending uw-madison</p>
	<br />
	<p>this site is still incomplete. writings/styles are still uncompleted.</p>
	<br />
	<p>
		notice (2025): looking for passionate developers located in madison
		wisconsin for a co-operative web-development studio
	</p>
	<p>frontend, backend, & design</p>
	<p>find my info to contact me</p>
</Layout>
